<!DOCTYPE html>
<html language="en"> 
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width", initial-scale="1.0">
  <title> Teams page </title>
  <link href="/style.css" rel="stylesheet">
  <link href="/teams.css" rel="stylesheet"> 
  <script src="images.js" defer> </script>
</head>

<body>
  <nav>
      <ul class="nav-bar">
        <li class="nav-element"><a href="/"> Home </a></li>
        <li class="nav-element"> <a href="../sign-up"> Sign Up </a></li>
        <li class="nav-element"> <a href="../teams"> Team </a></li>
        <li class="dropdown">
          <button class="nav-element dropdown-btn"> Pages </button>
          <ul class="dropdown-content">
            <li><a href="../goals/1"> Quality Education </a></li>
            <li><a href="../goals/2"> Affordable & Clean Energy </a></li>
            <li><a href="../goals/3"> Life Below Water </a></li>
          </ul>
        </li>
      </ul>
  </nav>
  <main>
    <section>
      <article class="service">
        <h2> Meet the team </h2>
        <% if (locals.teamMembers) { %>
          <% locals.teamMembers.forEach(teamMember => { %>
            <div class="team-member">
              <img class="team-img" src="<%= teamMember.photoURL %>" alt="<%= teamMember.photoAlt %>">
              <div class="team-text">
                <h3 class="team-name"> <%= teamMember.name %></h3>
                <h4> Role(s): </h4>
                <p class="team-role"> <%= teamMember.role %></p>
              </div>
            </div>
          <% }) %>
        <% } %>
      </article>
    </section>
  </main>
</body> 


















</html>