<!DOCTYPE html>
<html language="en"> 
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <title> Teams page </title>
    <link href="/teams.css" rel="stylesheet"> 
    <link href="/style.css" rel="stylesheet">
    <script src="images.js" defer> </script>
</head>

<body>
    <header>  
        <h1> Teams Page </h1>
    </header>

    <nav>
        <ul class="nav-bar">
          <li class="nav-element"><a href="/"> Home </a></li>
          <li class="nav-element"> <a href="../sign-up"> Sign Up </a></li>
          <li class="nav-element"> <a href="../teams"> Team </a></li>
          <li class="dropdown">
            <button class="nav-element dropdown-btn"> Pages </button>
            <ul class="dropdown-content">
              <li><a href="../goals/1"> Quality Education </a></li>
              <li><a href="../goals/2"> Affordable & Clean Energy </a></li>
              <li><a href="../goals/3"> Life Below Water </a></li>
            </ul>
          </li>
        </ul>
      </nav>

<main>
    <section>
        <article class="service">
            <h2> Meet the team </h2>
            <h3>
                Grace
            </h3>
            <!-- Add headshot -->
            <h4> 
                Role(s):
            </h4>
                <p>
                    Coded the teams page and SDG 4 
                </p>
            <h3>
                Luke
            </h3>
            <!-- Add headshot -->
            <h4> 
                Role(s):
            </h4>
                <p>
                    Coded the home page and SDG ___
                </p>
            <h3>
                Olly
            </h3>
            <!-- Add headshot -->
            <h4> 
                Role(s):
            </h4>
            <p>
                Coded the sign-up page and SDG ___ 
            </p>
        </article>
    </section>
</main>




</body> 


















</html>