.primary-data {
  display: flex;
  align-items: top;
  justify-content: center;
  gap: 20px;
  padding: 15px;
}

.primary-data img {
  width: 40%;
  height: auto;
  border-radius: 15px;
}

.primary-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  width: 40%;
  height: 100%;
}

.primary-text-container div{
  border: 1px solid black;
  border-radius: 15px;
  padding: 15px;
}

.slideshow {
  width: 80%;
  height: 40vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px;
  border-radius: 20px;
}

.slideshow button {
  height: 50px;
  width: 40px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px var(--page-colour);
}

.slideshow button:active {
  box-shadow: none;
  translate: 2px 2px;
}

.slide {
  background-color: var(--page-colour);
  flex: 1;
  height: 80%;
  margin: 0px 15px;

  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 20px;
}

.slide h1 {
  text-align: top;
}

.slide p {
  margin-top: 10px;
  height: calc(80% - 30px);
  background-color: whitesmoke;
  width: calc(100% - 30px);
  outline: 2px solid black;
  padding: 15px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.4em;
}

.targets {
  width: 80%;
  height: 50vh;
  padding: 20px;

  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
}

.target {
  background-color: var(--page-colour);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid black;
  border-radius: 15px;
}

.target h1 {
  border-bottom: 1px solid black;
  width: 100%;
  height: 22%;
  background-color: var(--accent-colour);
  border-radius: 15px 15px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.target p {
  height: 70%;
  padding: 15px;
}

@media only screen and (max-width: 1200px) {
  .slide h1 {
    font-size: 1.1em;
  }

  .slide p {
    font-size: 1em;
  }

  .target h1 {
    font-size: 1em;
  }
}

@media only screen and (max-width: 800px) {
  .primary-data {
    flex-direction: column;
    align-items: center;
  }

  .primary-data img{
    width: 80%;
  }

  .primary-text-container{
    width: calc(80% - 40px);
  }

  .targets { 
    height: 100vh;
    grid-template-columns: auto;
  }

  .targets h1 {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 550px) {
  .dropdown-btn {
    display: block;
  }
}