main {
  overflow-x: hidden;
}

.parallax-element {
  /* Set a specific height */
  min-height: 70vh ;
  min-width: calc(100vw - 45px);

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 85%;

  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.goal-title {
  background-color: #111;
  height: 50px;
  padding: 5px 15px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.goal-title a {
  color: whitesmoke;
}

.goal-text {
  width: 70%;
  background-color: white;
  text-align: center;
  padding: 15px;
  border-radius: 15px;
  display: flex;
  gap: 20px;
}

.goal-text div {
  flex: 1;
  border: 1px solid rgb(51, 51, 51);
  border-radius: 15px;
  box-shadow: 5px 5px rgb(51, 51, 51);
  padding: 15px;
}

.goal-text div h2 {
  margin-bottom: 10px;
}

@media only screen and (max-width: 1000px) {
  .goal-text {
    width: 50%;
    flex-direction: column;
  }
}

@media only screen and (max-width: 800px) {
  .parallax-element {
    background-attachment: scroll;
  }
  .goal-title h1 {
    font-size: 1.5em;
  }
}