* {
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

header {
    background-color: #f6de73;
    height: 100px;
    text-align: center;
}

header > h1 {
    padding: 10px 5px;
    background-color: inherit;
}


#wrapper {
    text-align: center;
    padding: 2% 10%;
}

#wrapper > h3 {
    padding: 10px 15px;
    border: solid ;
    display: inline-block;
    margin: 10px 5px;
    border-radius: 15px;
    background-color: #618e56;
    color: white;
}

fieldset {
    border-radius: 15px;
}

legend {
    padding: 2px 5px;
}

label {
    display: inline-block;
    background-color: #618e56;
    color: whitesmoke;
    padding: 5px 10px;
    margin: 5px;
    border: solid;
    border-radius: 5px;
}

input {
    display: block;
    margin: auto;
    padding: 1% 20%;
    text-align: center;
    border-radius: 15px;
}

textarea {
    display: block;
    margin: auto;
    height: 100px;
    width: 80%;
    padding: 1%;
    border-radius: 15px;
}
