@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root {
  --page-colour: rgb(255, 0, 0);
  --accent-colour: whitesmoke;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(whitesmoke 0%, rgb(200, 200, 200) 50%);
}

header {
  border-bottom: 1px solid black;
  height: 100px;
  text-align: center;
  font-size: 76px;
}

nav {
  border-bottom: 1px solid black;
  height: 50px;
}

a {
  color: initial;
  text-decoration: none;
}

.active-page {
  color: var(--accent-colour);
}

.active-nav {
  background-color: rgb(51, 51, 51) !important;
}

.nav-bar {
  display: flex;
  list-style-type: none;
}

.nav-element {
  flex: 1;
  text-align: center;
  padding: 15px;
  border: none;
  margin: 0;
  background-color: rgb(200, 200, 200);
  font-size: 17px;
}

.nav-element:hover {
  background-color: rgb(51, 51, 51);
  color: whitesmoke;

}

.nav-element:hover a{
  color: whitesmoke;
}

.dropdown {
  flex: 1;
  position: relative;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-btn {
  width: 100%;
  height: 100%;
}

.dropdown-content {
  list-style-type: none;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  z-index: 1;
  border-radius: 0 0 15px 15px;
}

.dropdown-content li{
  text-align: center;
  padding: 10px;
}

.dropdown-content li:hover {
  background-color: rgb(51, 51, 51);
}

.dropdown-content li:hover a{
  color: whitesmoke;
}

.dropdown-content li:last-child {
  border-radius: 0 0 15px 15px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  height: 100px;
  background-color: rgb(51, 51, 51);
}