@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root {
  --page-colour: rgb(255, 0, 0);
  --accent-colour: whitesmoke;
  --padding-amount: 20px;
  --border-radius: 15px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(whitesmoke 0%, rgb(200, 200, 200) 50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: var(--padding-amount);
  border-bottom: 1px solid rgb(51, 51, 51);
}

.header-wrapper {
  display: flex;
  width: 10%;
}
.hamburger-icon { 
  display: none;
  font-size: 32px;
}

.un-logo {
  width: 100%;
  height: auto;
}

nav {
  width: 90%;
  border-radius: var(--border-radius);
}

a {
  color: initial;
  text-decoration: none;
}

.active-page {
  color: var(--accent-colour);
}

.active-nav {
  background-color: rgb(51, 51, 51) !important;
}

.nav-bar {
  display: flex;
  list-style-type: none;
}

.nav-element {
  flex: 1;
  text-align: center;
  padding: var(--padding-amount);
  border: none;
  margin: 0;
  background-color: rgb(200, 200, 200);
  font-size: 17px;
}

.nav-bar .nav-element:first-child {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.dropdown-btn {
  border-radius: 0 var(--border-radius) var(--border-radius) 0 !important;
}

.nav-element:hover {
  background-color: rgb(51, 51, 51);
  color: whitesmoke;
}

.nav-element:hover a{
  color: whitesmoke;
}

.dropdown {
  flex: 1;
  position: relative;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-btn {
  border-radius: 0 var(--border-radius) 0 0 !important;
  background-color: rgb(51, 51, 51);
  color: whitesmoke;
}

.dropdown-btn {
  width: 100%;
  height: 100%;
}

.dropdown-content {
  list-style-type: none;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  z-index: 1;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.dropdown-content li{
  text-align: center;
  padding: var(--padding-amount);
}

.dropdown-content li:hover {
  background-color: rgb(65, 65, 65);
}

.dropdown-content li:hover a{
  color: whitesmoke;
}

.dropdown-content li:last-child {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  height: 100px;
  background-color: rgb(51, 51, 51);
}

@media only screen and (max-width: 800px) {
  .header-wrapper {
    display: none;
  }

  nav {
    width: 100%;
  }
}

@media only screen and (min-width: 2000px) {
  :root {
    --padding-amount: 40px;
    --border-radius: 30px;
  }

  header {
    height: 100px;
  }

  .header-wrapper {
    width: 20%;
  }

  .nav-element, .dropdown-content{
    font-size: 2em;
  }

  footer {
    font-size: 2em;
  }
}

@media only screen and (max-width: 550px) {
  
  header {
    flex-direction: column;
  }

  .header-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .hamburger-icon {
    display: block;
  }
  
  .un-logo {
    display: block;
    width: 50%;
  }

  nav {
    display: flex;
    justify-content: flex-end;
  }

  .nav-bar {
    display: none;
    flex-direction: column;
    width: 60%;
    z-index: 1;
    position: absolute;
    top: 90px;
  }

  .show-nav {
    display: flex;
  }

  .dropdown-btn {
    display: none;
    border-radius: var(--border-radius)mportant;
  }

  .dropdown {
    pointer-events: none;
  }

  .dropdown-content {
    display: block;
  }

  .dropdown-content li {
    pointer-events: all;
    background-color: rgb(200, 200, 200);
  }

  .nav-bar .nav-element:first-child {
    border-radius: var(--border-radius) 15px 0 0;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-amount);
}

.footer-text {
  color: rgb(200, 200, 200);
}

.footer-text a {
  color: rgb(200, 200, 200);
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: whitesmoke;
}

.social-links a {
  font-size: 36px;
  color: whitesmoke;
}


