main{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20%;
    margin-right: 20%;
    padding: 16px;
    border-style: 2px, solid;
    border-radius: 20px, round;
}

section {
  width: 80vw;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.greating {
  font-size: 2em;
}

.team-member-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.team-member {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
  border-radius: 15px;
  background-color: rgb(200, 200, 200);
  padding: 15px;
}

.team-img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.team-text {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.team-text h4 {
  font-size: 20px;
}

.team-name {
  font-size: 25px;
}

.team-role {
  font-size: 15px;
}