section {
  width: 80vw;
  background-color: whitesmoke;
  padding: var(--padding-amount);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.greating {
  font-size: 2em;
}

.team-member-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.team-member {
  display: grid;
  flex-direction: column;
  align-items: first baseline;
  justify-content: center;
  gap: 20px;
  border-radius: var(--border-radius);
  background-color: rgb(200, 200, 200);
  padding: var(--padding-amount);
}

.team-img {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius);
}

.team-text {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.team-text h4 {
  font-size: 20px;
}

.team-name {
  font-size: 25px;
}

.team-role {
  font-size: 15px;
}

@media only screen and (min-width: 2000px){
  main {
    font-size: 2em;
  }

  .team-name, .team-text h4{
    font-size: 2em;
  }

  .team-role, .team-email {
    font-size: 1.2em;
  }
}